@font-face {
    font-family: 'Dancing';
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/Roboto-Bold.ttf);
}