* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
}

.navbar_flex {
    display: flex;
    color: white;
    position: absolute;
    width: 100%;

    p  {
        font-size: 2em;
        width: 30%;
        margin-top: 20px;
        font-family: 'Dancing';
    }
}

.menu_flex {
    margin-top: 20px;
    margin-left: 150px;
    width: 100%;

    ul {
        text-align: center;
        font-size: 1.5em;
        width: 50%;
        display: flex;
        justify-content: center;
        text-decoration: none;

        a {
            font-family: 'RobotoBold';
            text-transform: uppercase;
            margin-left: 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: white;
        }
    }
}

.logo_flex {
    margin-top: 20px;
    float: left;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 10%;

    i {
        font-size: 1.5em;
    }
}
