@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
  text-decoration: none;
}

.navbar_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: absolute;
  width: 100%;
}

.navbar_flex p {
  font-size: 5em;
  width: 30%;
  margin-left: 30px;
  margin-top: 20px;
  font-family: 'Dancing';
}

.menu_flex {
  margin-top: 40px;
  margin-left: 400px;
  width: 100%;
}

.menu_flex ul {
  text-align: center;
  font-size: 1.3em;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.menu_flex ul a {
  font-family: 'RobotoBold';
  text-transform: uppercase;
  margin-left: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.menu_flex ul a:hover {
  color: #585656;
}

.logo_flex {
  margin-top: 40px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 10%;
}

.logo_flex i {
  margin-left: 15px;
  font-size: 1.5em;
}

.logo_flex i:hover {
  cursor: -webkit-grab;
  cursor: grab;
  color: grey;
}

.welcome_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 180px;
  width: 100%;
  position: absolute;
  color: white;
}

.text_flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text_flex span:first-child {
  margin-left: 60px;
  position: absolute;
  text-align: center;
  font-family: 'Dancing';
  color: #af7746;
  font-size: 2.5em;
}

.text_flex span:nth-child(2) {
  margin-top: 30px;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.icon_welcome {
  width: 5%;
}

.icon_welcome img {
  width: 70%;
}

.ingredients_flex {
  margin-top: 30px;
  font-size: 1.3rem;
  text-transform: uppercase;
  word-spacing: 1rem;
}

@font-face {
  font-family: 'Dancing';
  src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'RobotoBold';
  src: url(../fonts/Roboto-Bold.ttf);
}

.slider {
  width: 100%;
  position: relative;
  height: 800px;
}

/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100vh;
}

/* Кнопки вперед и назад */
.slider .previous, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении на кнопки добавляем фон кнопок */
.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */